
.containerAll{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgb(231, 231, 231);
}

.containerAdminSideBar{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productContainer{
    background-color: rgb(231, 231, 231);
    width: 80%;
    border-radius: 5px;
    height: 90%;
}

.infoConteiner{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    margin-top: 10px;

}

.infoProduct{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 300px;
    height: 150px;
    border-radius: 5px;
    border: none;
    background-color: rgb(48, 48, 48);
    color: #fff;
}

.info{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon{
    width: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.containerCheckv{
    border:none;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #91C612;
}

.containerCheckv i {
    color: white;
}

.containerCheckx{
    border:none;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
}
.containerCheckx i{
    color: #fff;
}

.containerCheckEx{
    border:none;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(188, 190, 22);
}

.containerCheckEx i{
    color: rgb(255, 255, 255);
}

.containerCheckarrow{
    border:none;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3483FA;
}

.containerCheckarrow i{
    color: #fff;
}

.containerNabvar{
    width: 100%;
    display: flex;
    justify-content: center;
}

.containerNabvar select:focus{
    outline: none;
}
.containerNabvar input:focus{
    outline: none;
}

.actionDisable{
    color: #000000;
    font-size: 25px;
    
}
.actionDisable:hover{
    color: #abf00a;
    
}

.actionNotDisable{
    font-size: 20px;
    color: rgb(0, 0, 0);
}
.actionNotDisable:hover{
    color: rgb(211, 27, 27);
}
.containerPencil{
    font-size: 20px;
}

.containerPencil:hover{
    
    color: #6abb0e;
}


/* .items{
    display: flex;
    justify-self: flex-start;
    width: 320px;
    border-bottom: solid 1px black;
    height: 60px;
    
}

.itemCreated{
    display: flex;
    justify-self: flex-start;
    align-items: center;
    width:250px;
    border-bottom: solid 1px black;   
    height: 60px;
}

.itemName{
    display: flex;
    justify-self: flex-start;
    width:230px;
    border-bottom: solid 1px black;
    height: 60px;  
}

.itemPrice{
    display: flex;
    justify-self: flex-start;
    width: 100px;
    border-bottom: solid 1px black;
    height: 60px;
}

.itemBrand{
    display: flex;
    justify-self: flex-start;
    width: 120px;
    border-bottom: solid 1px black;
    height: 60px;
}

.itemStock{
    display: flex;
    justify-self: flex-start;
    width: 100px;
    border-bottom: solid 1px black;
    height: 60px;
} */

.containerInfoTable{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.headerContainer{
    width: 100%;
    background-color: #78BEEC;
    margin-bottom: 20px;
    margin-top: 10px;
}

.ul{
    width: 99%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    color: #a4e40f;
    background-color: rgb(39, 39, 39);
}



.containHeadr{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.containHeadr p {
    margin: 0;
}


.header{
    padding: 0;
}



.containerc{
    background-color: #c7c7c727;
    width: 99%;
    display: flex;
    justify-content: space-between;
}

.containercAgotado{
    background-color: #578cdb;
    width: 99%;
    display: flex;
    justify-content: space-between;
}

.containercLow{
    background-color: #d3d679;
    width: 99%;
    display: flex;
    justify-content: space-between;
}

.containercDisable{
    background-color: rgb(163, 72, 72);
    width: 99%;
    display: flex;
    justify-content: space-between;
}

.containCardInfo{
    width: 20%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: 1px solid rgb(58, 58, 58);

}

.containerActions{
    width: 20%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    border-bottom: 1px solid rgb(102, 102, 102);
}




.containerPaginate{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerButtonCreate{
    border-radius: 50%;
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-end;
}

.containerIcon{

    border-radius: 5px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    background-color: #78BEEC;
    color: white;
    width: 75px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerIcon:hover{
    background-color: #90c9f0;
}


.containerIcon i {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.link{
    text-decoration: none;
    
    
}

.searchBar{
    border: 1px solid rgb(34, 34, 34);
    margin-left: 20px;
}

.searchBarButton{
    color: #91C612;
    background-color: rgb(34, 34, 34);
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border: none;
}

.infoButton{
    border: none;
    background-color: transparent;
    color: transparent;
}

