.containerTotal{
    position: relative;
    padding-top: 0.3%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
}
.containerTotalAMD{
    /* background-image:linear-gradient( rgba(219, 7, 0, 0.623), white 29%); */
    position: relative;
    padding-top: 0.5%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.containerTotalIntel{
    /* background-image:linear-gradient( rgba(0, 88, 204, 0.623), white 29%); */
    position: relative;
    padding-top: 0.5%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.containerBrand0{
    position: relative;
    padding: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.containerBrand1{
    background-image:linear-gradient(to left top,  white 50%, rgb(0, 71, 163));
    position: relative;
    padding: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.containerBrand2{
    background-image:linear-gradient(to right top, white 50%, rgb(180, 6, 0));
    position: relative;
    padding: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}


.brandButton{
    width: 450px;
    height: 400px;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 0px 8px 15px rgba(14, 13, 13, 0.644);
    transition: all 0.3s ease 0s;
}

.brandButton:hover{
    cursor: pointer;
    transform: translateY(-10px);
    box-shadow: 0px 17px 15px 0px rgba(0, 0, 0, 0.767);
}

.containerTotal1{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.buttonBuild{
    border: none;
    background-color: transparent;
}

.productos{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.build{
    background-color: rgb(240, 240, 240);
    border-radius: 15px;
    height: 550px;
    width: 250px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.buildImg{
    margin: 10px 10px 10px 0px;
    width: 40px;
}

.containerBuild{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.labelBuild{
    width: 165px;
    font-size: 10px;
    flex-wrap: wrap;
    font-weight: bolder;
}

.imgLabel{
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.containerProducts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    padding-top: 20px;
    align-items: center;
}

.button {
    color: white;
    border: none;
    border-radius: 4px;
    background-color: #3483FA;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    cursor: pointer;
    transition: 0.3s ease;
    margin: 10px;
    padding: 10px;
    height: 50px;
    width: 150px;
    
}

.button:hover {
    background-color: #5294f7;
}

.button:disabled{
    background-color: gray;
    cursor: default;
}

.Link{
    text-decoration: none;
}

.contLink{
    display: flex;
}

@media screen and (max-width:1400px) {
  
    .containerBuild{
        padding-left: 60px;
    }

  }


@media screen and (max-width:450px) {
    .containerBrand0 {
        height: 70vh;
        padding: 0%;
        padding-top: 50px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
    .containerBrand1{
        display: flex;
        flex-direction: column;  
    }
    .containerBrand2{
        display: flex;
        flex-wrap: wrap;
       justify-content: flex-end;
       align-items: flex-start;
    }
    .brandButton{
        width: 250px;
        height: 250px;
        margin-left: 100px;
        
    }
   .labelBuild{
    display: none;
   }
  .labelBuild2{
    display: none;
  }

  .build{
    height: 410px;
    width: 70px;
    margin-top: 10px;
    margin-right: 0;
    padding: 5px;
  }
  .containerBuild{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    right: 0;
    margin-left: -5px;
}
.imgLabel{
    padding: 0px;
    margin: 0px;
}

.buildImg{
    margin: 10px;
}
.containerProducts{
    
    flex-wrap: wrap;
    padding-top: 20px;
   
}
  }