.containerAll{
    display: flex;
    align-items: center;
    justify-content: center;
   /*  background-color: rgb(243, 243, 243); */
}

.container{
    width: 40%;
    height: 550px;
    margin-left: 600px;
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 20px;
    margin: 30px;
}

.image{
    
    padding-right: 100px;
    display: flex;
    padding-top: 30px;
    flex-direction: column;
    padding-bottom: 20px;
}

.containerText{
    background-color: rgb(243, 243, 243);
    padding: 15px;
    border-radius: 5px;
}


.hr{
    width: 300px;
}


.season{
    width: 1.8em;
    height: 1.8em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    margin-right: 25px;
    
    
}

.season:checked{
    background-color: gray;
}

.infoProduct{
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 20px;
    flex-direction: column;
    text-align: start;
}

.infoProduct2{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    flex-direction: column;
    text-align: start;

}

.info{
    font-size: 20px;
}

.info2{
    font-size: 15px;
}

.title{
    font-weight: bold;
    font-size: 20px;
}

.button{
    background-color: #91C612;
    color: white;
    border:  none;
    border-radius: 7px;
    padding: 5px;
    width: 200px;
    margin: 5px;
    margin-top: 20px;
}

.input{
    border: 1px solid rgb(75, 75, 75);
    border-radius: 5px;
    width: 250px;
    margin: 5px;
    margin-top: 10px;
}

.input:focus{
    
    outline:#91C612;
    border:  1px solid #91C612;
}



.input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}