.containerForm {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 3.65%; */
}
.container{
  width: 50%;
  height: auto;
  padding: 25px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(255, 255, 255, 0);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.637);
    border-radius: 10px;
    background-color: #EEEEEE;
    
}
.containerTitle{
  width: 100%;
  height: 15%;
  /* display: flex; */
  justify-content:left;
  margin-bottom: 15px;
}
.containerCards{
  height: auto;
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
padding-bottom: 10px;
  
}

.contenedorLoading{
    background-color: white;
    width: 100vw;
     height: 77.7vh;
}

.loading{
  width: 100vw;
  height: 77.7vh;
display: flex;
justify-content: center;
align-items: center;
}

.img{ 
  border-radius: 50%;
  box-shadow: 0 0 35px rgb(155, 255, 108);
  width: 200px;
  height: 200px;
  animation: loading 16s infinite;
}
@keyframes loading {
 100%{
  transform: rotate(1560deg);
 }
 
}

.anadir{
  padding-top: 20px;
}

.control{
  padding: 20px;
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  padding: 15px 12px;
}

.button{
  /* background-color:#78788C ; */
  background-color: #3570dd;
  float: center;
  border: none;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 230px;
  height: 80px;
  border-radius: 7px;
  color: white;
  font-weight: 600;
}

.buttonNew{
  background-color: #91C612;
  float: center;
  border: none;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 230px;
  height: 80px;
  border-radius: 7px;
  color: white;
  font-weight: 600;

}

.button:hover{
  /* background-color: #85858b; */
  background-color:  #578cee;
  transition: 0.3s ease;
}

.button:hover{
  /* background-color: #85858b; */
  background-color:  #aadd32;
  transition: 0.3s ease;
}

.span{
  font-size: 22px;
  font-weight: bold;
  padding-bottom: 20px;
}

.card {
  border: 2px solid rgba(255, 255, 255, 0);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.637);
  border-radius: 10px;
  width: 100%;
  height: 80px;
  /* display: flex; */
  background-color: white;
}

.fila{
  display: flex;
  justify-content: space-around;
  margin-top: 22px;
  /* border: purple 1px solid; */
}

.text{
  font-weight: 600;
  color:  black;
}


@media screen and (max-width:1400px)  and (min-width:500px) {
  
  .containerForm{
    padding-bottom: 35px;


  }

  .containerCards{
    width: 100%;
  }

  .radio1 input:hover{
    cursor: pointer;
 
  }

  /* .radio2{
    height: 30px;
    width: 30px;
  } */
  .control{
    gap: 30px;
  }

  
  .contenedorLoading{
    width: 100%;
  }

  .loading{
    width: 100%;
  }

}

@media screen and (max-width: 450px) {
.container{
  width: 82%;
  margin-left: 65px;
}
.button{
  width: 180px;
  height: 60px;
}

.buttonNew{
  width: 180px;
  height: 60px;
}
.containerCards{
  width: 300px;
  display: flex;
  flex-direction: column;
}
.card{
  width: 300px;
  height:200px;
  display: flex;
  flex-direction: column;
}

.fila{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
  .radio{
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    margin-left: 50px;
  }

  .radio1{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
    margin-left: 50px;
  }
  .radio2{
    width: 30px;
    height: 30px;
  }

  .containerPencil{
    font-size: 24px;
    position: absolute;
    right: 0;
    margin-top: -23px;
    margin-right: 50px;
  }
}