  .back {
    position: absolute;
    
    background-color: #78788c;
    width: 100vw;
  }

  .profile {
    text-align: center;
    font-size: 17px;
    padding-top: 20px;
    padding-bottom: 35px;
    color: aliceblue;;
    padding-top: 160px;
   }

   .imagen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    position: fixed;
    left: 1.8%;
    border: solid;
    border-style: ridge;
    border-radius: 100%;
    height: 150px;
    width: 160px;
   }  
  
  .sidebar {
    display: flex;  
    flex-direction: column;
    height:77.8%;
    width: 15%;
    position:fixed;
    /* top: 21.5%; */
    left: 0;
    background-color: #3a3a3a;
    padding: 20px 60px 20px 20px;
  }

  .link {
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    text-align: left;
  }

  .link:hover {
    cursor: pointer;
    transition: 0.3s ease;
    color: #91c612;
  }

  .li {
    display: inline;
    float: left;
  }

  