.container{
    background-color: #78788c;
    width: 100vw;
    height: 77.6vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.img{
    width: 430px;
    height: 380px;
}