
.conteiner{
  background-color: #37373f !important;
  position: fixed !important;
  margin-top: 97px;
  margin-bottom: 58px;
  color: white !important;
  
}


.imagen{
  top:5px;
  width: 170px;
  height: 100px;
  left: 50px;
position: absolute;
}

.imagen img:hover {
  filter: brightness(1.5);
}

.buttonCont{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: transparent;
}

.buton{
  border: none;
  background-color: transparent;
  color: #91C612;
  font-size: 25px;
  padding: 15px;
  padding-left: 22px;
  padding-bottom: 12px;
  transition: all 0.15s;
  margin-bottom: 22px;
  margin-top: 22px;
}

.buton:hover{
  color: #c8eb4a;
}
.buton:active{
  transform: rotate(45deg);
}

.butonX{
  border: none;
  background-color: transparent;
  color: #91C612;
  font-size: 30px;
  padding: 10px;
  padding-top: 12px;
  padding-left: 22px;
  transition: all 0.15s;
  margin-bottom: 22px;
  margin-top: 22px;
}

.butonX:hover{
  color: #c8eb4a;
}

.butonX:active{
  transform: rotate(45deg);
}


.items i{
  color: white !important;
}

.items a{
  color: white !important;
}


.items div{
  color: white !important;
}

.link{
  color: white;
}

