.containerSideBar{
    background-color:white;
    color: rgb(48, 48, 48);
    width: 250px;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 25px;
    box-shadow: 0px 5px 8px 0px rgba(48, 48, 48, 0.527);
    
}


.containerTitleInfo{

    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.imagen {
    border-radius: 50%;
    border: none;
    height: 150px;
    width: 160px;
    
}

.fullName{
    font-size: 20px;
}

.administrator{
    font-size: 30px;
}

.containerOptions{

    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    
    
}


.items{
    height: 40px; 

    width: 175px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #91C612;
    color: white ;
    border-radius: 7px;
    
} 

.items p{
    margin-bottom:27.5px;
}

.items:hover{
    background-color: #a2da21;
    color: white;
}

.li{
    text-decoration: none;
}