.containerSideBar{
    background-color: rgb(231, 231, 231);
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border: 2px solid black;
    border-radius: 25px;
    
}


.containerTitleInfo{

    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom:2px solid black ;
}

.imagen {
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    left: 30px;
    border: solid;
    height: 150px;
    width: 160px; 
}



.containerOptions{

    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}


.items{
    height: 40px; 

    width: 175px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #91C612;
    color: white ;
    
} 

.items p{
    margin-bottom:27.5px;
}

.items:hover{
    background-color: #3483FA;
    color: white;
}

.li{
    text-decoration: none;
}