.containerFav{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.containerCardsFav{
    width: 65%;
    height: auto;
    padding: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 0);
      box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.637);
      border-radius: 10px;
      background-color: #EEEEEE;
}

.containerButton{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 25px;
    padding-left: 80px;

}

.containerTitle{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerCards{
    padding: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containerNoProducts{
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerNoLoged{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title{
    border-bottom: 2px solid red;
}

.containerInfoNoLoged{
    border: 2px solid black;
    border-radius: 15px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.containerTitleNoLoged{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
}

.containerButtonNoLoged{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.buttonNoLoged{
    background-color:#91C612;
    border: none;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 180px;
    border-radius: 7px;
    color: white;
    font-weight: 600;
}

.buttonNoLoged:hover{
    background-color: #aadd32;
    transition: 0.3s ease;
}

.buttonNoLoged:active{
    background-color: #81af15;
    
}

@media screen and (max-width:450px) {
    .containerFav{
        padding-left: 10px;
    }
}