.loading {
    width: 100vw;
    height: 77.7vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .img {
    border-radius: 50%;
    box-shadow: 0 0 35px rgb(155, 255, 108);
    width: 200px;
    height: 200px;
    animation: loading 16s infinite;
  }
  @keyframes loading {
    100% {
      transform: rotate(1560deg);
    }
  }

  @media screen and (max-width: 1400px) and (min-width:500px) {

    .contenedorLoading{
      width: 100%;
    }
  
    .loading{
      width: 100%;
    }
  }