.containerAll{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: rgb(231, 231, 231);
}

.containerAdminSideBar{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.productContainer{
    background-color: rgb(231, 231, 231);
    width: 80%;
    border-radius: 5px;
    height: 400px;
    padding: 15px;
}

.infoConteiner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    

}



.infoProduct{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 350px;
    height: 150px;
    border-radius: 5px;
    background-color: rgb(231, 231, 231);
    border: solid 2px black;
}

.info{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerIconInInfoProductv{
    border: 2px solid black;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #91C612;
    color: white;
}


.containerIconInInfoProductx{
    border: 2px solid black;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
}





.headerContainer{
    width: 100%;
    height: 35px;
    background-color: rgb(231, 231, 231);
    border: 2px solid black;
    display: flex;

}

.headerMove{
    width: 12.5%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerMoveEmail{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerItem{
    margin-bottom: 2rem;
}


.containerItems{
    width: 100%;
    height: auto;
    display: flex;
    border-bottom: 2px solid black;
}

.items{
    width: 12.5%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.items p{
    margin-bottom: 2rem;
}

.items i{
    font-size: 25px;
}


.itemsEmail{
    width: 25%;
}

.containerCreate{
    width: 65px;
    height: 50px;
    margin-left: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #78BEEC;
    background-color: #78BEEC;
    border-radius: 5px;
    margin-top: 15px;
    color: black;
}

.link{
    text-decoration: none;
}

.containerPaginate{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


