.containerAll{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerAdminSideBar{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerAdminProfile{
    width: 20%;
    height: 100%;
    border: 2px solid blue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.productContainer{
    background-color: #BBEAE4;
    width: 60%;
    border-radius: 5px;
    height: 400px;
    border: 2px solid orange;
}

.infoConteiner{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.infoProduct{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 350px;
    height: 150px;
    border-radius: 5px;
    background-color: #78BEEC;
    border: solid 1px white;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerNabvar{
    margin-left: 40%;
}



.headerContainer{
    width: 100%;
    height: 35px;
    background-color: #78BEEC;
    border: 2px solid red;
    display: flex;

}

.divHeader{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divHeader p{
    margin-bottom: 27px;
}

.containerItems{
    border: 2px solid red;
    width: 100%;
    height: auto;
    display: flex;
}

.items{
    width: 20%;
    border: 2px solid red;
}

.buttonCrear{
    margin-left: 70%;
    padding-bottom: 20%;
}

