.containerCart{
    width: 100%;
    height: auto;
    padding: 25px;
    background-color: #f3f3f3;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.637);
}

.containerInfo{

    height: 15%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
}

 .cards{
    height: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
} 

.button{
    background-color:#91C612;
    border: none;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 180px;
    border-radius: 7px;
    color: white;
    font-weight: 600;
}

.button:hover{
    background-color: #aadd32;
    transition: 0.3s ease;
}

.button:active{
    background-color: #81af15;
    
}