.containerCart{
    width: 100%;
    height: auto;
    padding: 25px;
    background-color: #f3f3f3;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.637);
}

.containerInfo{

    height: 15%;
    display: flex;
    align-items: center;
}

.containerButtons{
    display: flex;
    align-items: center;
    width: 40%;
    margin-left: 15%;
}


.containerPrice{
    font-size: 250%;
    margin-left: 20px;
    margin-right: 20px;
}
.containerPrice1{
    font-size: 250%;
    margin-left: 20px;
    margin-right: 20px;
}


.inv{
    background-color: transparent;
    color: transparent;
    border: none;
    cursor: default;
}

 .cards{
    height: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
} 


.button{
    margin: 10px;
    background-color:#91C612;
    border: none;
    padding: 10px;
    width: 130px;
    border-radius: 7px;
    color: white;
    font-weight: 600;
}

.button:hover{
    background-color: #aadd32;
    transition: 0.3s ease;
}

.button:active{
    background-color: #81af15;
    
}

.button1{
    margin: 10px;
    background-color:#c61212;
    border: none;
    padding: 10px;
    height: 68px;
    width: 130px;
    border-radius: 7px;
    color: white;
    font-weight: 600;
}

.button1:hover{
    background-color: #dd3232;
    transition: 0.3s ease;
}

.button1:active{
    background-color: #af1515;
    
}

.button1:disabled{
background-color: gray;
cursor: default;
}

.button2{
    margin: 10px;
    background-color:#126fc6;
    border: none;
    padding: 10px;
    width: 130px;
    border-radius: 7px;
    color: white;
    font-weight: 600;
}

.containerSup{
    display: flex;
    align-items: center;
    padding-bottom: 15px;
}

.button2:hover{
    background-color: #3276dd;
    transition: 0.3s ease;
}

.button2:active{
    background-color: #1558af;
    
}

.containerClearCart{
    margin-top: 20px;
    margin-bottom: 25px;
}



@media screen and (max-width:1400px) {
  
    .cards{
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .containerPrice1 span{
        margin: 0;
        font-size: 2rem;
    }

    .containerPrice span{
        margin: 0;
        font-size: 2rem;
    }
  }

  @media screen and (max-width:450px) {
    .containerCart {
        padding: 8px;
    }
    .containerInfo {
        margin-left:70%;
        width: 100%;
    }
    .containerButtons {
        display: flex;
        margin-left: 0%;
        font-size: 10px;
    }
    .containerPrice1{
        display: none;
    }
    .containerPrice {
        margin-top: 10px;
        font-size: 20px;
    margin-bottom: -10px;
    
    }
    .containerPrice span{
        margin-top: 10px;
        font-size: 20px;
    
    
    }
    .cards {
        width: 80%;
        margin-left: 66px;
    }
    .button {
        width: 60px;
        
        
    }
    .button1 {
        width: 60px;
        height: 50%;
    }
    .button2 {
        width: 60px;
        height: 65px;
    }
    .containerSup {
        width: 80%;
        font-size: 8px;
        display: flex;
        flex-direction: column;
    }
}