.buttons{
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    padding: 20px;
    font-size: 22px;
    color: black;
    background-color: transparent;   
    
}

.buttons:hover{
    transition: 0.3s ease;
    color: #91C612;
}

.categories{
    background-color: #EEEEEE;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 65%; */
   
}

.selector{
    background-color: rgb(20, 20, 20);
    color: rgb(223, 223, 223);
    border: none;
    font-size: 20px;
}

.selector:focus{
    outline: none;
}

