.containerCard{
    border: 2px solid black;
    width: 500px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.containerImg{
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right:2px solid black ;
}


.img{
    width: 90%;
}

.containerInfo{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerTitle{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid black;
}

.containerPriceCart{
    width: 80%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}