.containerForm {

  background-color:  #e7e7e7;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3.65%;

}

.productContainer {
  
  height: 90%;
  background: #ffffff;
  border-radius: 8px;
  
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 20px 30px;
  max-width: calc(90vw - 40px);
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  background-color: #ffffff;
  width: 900px;
  padding: 2%;
  
  
}

.titleForm {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    color: black;
    border-bottom: 3px solid #91C612 ;
}

.name { 
    background-color: transparent;
    width: 43%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.name1{ 
    margin-left: 10px;
    padding-left: 8px;
    background-color: transparent;
    width: 43%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name2{
    background-color: red;
    width: 5px;
}

.contenedor{
  display: flex;
  flex-wrap: wrap; 
  height: 350px;
  justify-content: space-evenly;
  /* align-content: space-between; */
}

.formInput {
  width: 330px;
  padding: 10px;
  padding-top: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s;
  border: 2px solid #bebed2;
  border-radius: 7px;
  text-align: left; 
  
}

.formInput:focus {
  border: 2px solid #91C612 ;
}

.formInput:disabled{
  border: 2px dotted rgb(184, 184, 184);
  background-color: rgb(224, 224, 224);
  color: gray;
}

.lab::before {
    content: attr(type);
    display: block;
    margin: 10px 0 0;
    font-size: 14px;
    color: black;
}

.containerBtn {
  padding: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  }

.btn {
    width: 100px;
    float: center;
    padding-top: 10%; 
    padding: 15px 12px;
    margin: 8px 0 0;
    font-family: "Montserrat", sans-serif;
    border-radius: 7px;
    border: none;
    background: #91C612 ;
    color: rgb(255, 255, 255);
    font-weight: 550;
    cursor: pointer;
    transition: all 0.3s; 
}

.btnS {
    width: 100px;
    float: center;
    padding-top: 10%; 
    padding: 15px 12px;
    margin: 8px 0 0;
    font-family: "Montserrat", sans-serif;
    border-radius: 7px;
    border: none;
    background: #c61212 ;
    color: rgb(255, 255, 255);
    font-weight: 550;
    cursor: pointer;
    transition: all 0.3s; 
}
.btnS:hover {
    background: #e22222 ;
    color: rgb(255, 255, 255);
  }

.btn:hover {
  background: #a9e222 ;
  color: rgb(255, 255, 255);
}

.btn:active{
  background: #91C612 ;
}

.btn:disabled{
    background: gray ;
    cursor: default;
  }

.textError {
  color: red;
}

.loading{
    background-color: #78788c;
    width: 100vw;
    height: 77.7vh;
}

.contenedorLoading{
  /* background: #c61212; */
  width: 100vw;
  height: 77.7vh;
}

.loading{
  background-color: white;
  width: 100vw;
  height: 77.7vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img{ 
  border-radius: 50%;
  box-shadow: 0 0 35px rgb(155, 255, 108);
  width: 200px;
  height: 200px;
  animation: loading 16s infinite;
}
@keyframes loading {
 100%{
  transform: rotate(1560deg);
 }
 
}