.buttonLog{
    background-color: transparent;
    color: white;
    border: none;
    border-bottom: 2px solid #91C612;
}

.buttonLog:hover{
    cursor: pointer;
    transition: 0.3s ease;
    color:#91C612;
}

@media screen and (max-width:450px) {
    .spanText{
        display: none;
    }
  
  
  }