.header {
  padding: 30px px 0 30px 0 !important;
  margin-right: auto;
  margin-left: auto;
  margin-top: 45px;
}

.bienvenido {
  font-size: 40px;
  text-align: center;
  font-weight: 500;
}
.ayuda {
  color: #91c612;
  font-weight: bold;
}

.texto {
  font-size: 28px;
  text-align: center;
  font-weight: 400;
}

.contacto {
  display: flex;
  justify-content: space-around;
}

.spanContacto {
  font-weight: 700;
  border-bottom: 2px solid #91c612;
  margin-left: 5px;
}

.tiendaPyR {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column-reverse;
}

.tienda {
  margin-left: 20px;
}

.btnTienda {
  --color: #91c612;
  padding: 0.2em 2em;
  background-color: transparent;
  border-radius: 0.3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 400;
  font-size: 17px;
  border: 2px solid #91c612;
  font-family: inherit;
  text-transform: uppercase;
  color: black;
  z-index: 1;
  margin-bottom: 15px;
}

.btnTienda::before,
.btnTienda::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
}

.btnTienda::before {
  top: -1em;
  left: -1em;
}

.btnTienda::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

.btnTienda:hover::before,
.btnTienda:hover::after {
  height: 410px;
  width: 410px;
}

.btnTienda:hover {
  color: rgb(10, 25, 30);
}

.btnTienda:active {
  filter: brightness(0.8);
}

.bienvenido img:hover {
  filter: brightness(1.2);
}

.contacto img:hover {
  filter: brightness(1.2);
}

.tienda img:hover {
  filter: brightness(1.2);
}

.FAQs img:hover {
  filter: brightness(1.2);
}

@media screen and (max-width: 450px) {
  .contacto {
    display: flex;
    flex-direction: column;
  }
}
