.form {
    max-width: 830px;
    min-height: 70vh;
    margin-left: 480px;
    background: whitesmoke;
    border-radius: 10px;
    border: groove;
}

.titulo {
    background: #37373f;
    color: rgb(255, 255, 255);
    padding: 15px;
    text-align: center;
    font-family: 'Mouse Memoirs', sans-serif;
    font-weight: 160;
    font-size: 25px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; 
}