.containerFooter {
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  color: white;
  display: flex;
  align-items: center;
  border-top: 4px solid #91C612;
}

.containerCopy {
  width: 33%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.copyright {
  color: white;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerButtons {
  width: 33%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.buttonFooter {
  color: white;
  border: none;
  background-color: transparent;
}

.buttonFooter:hover {
    color: #91C612;
}

.title {
  color: #91C612;
  border: none;
  background-color: transparent;
}

.containerIcons {
  width: 33%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.containerIcons i {
  color: white
}
.containerIcons i:hover {
  color: #91C612
}

html {
  min-height: 100%;
  position: relative;
}
body {
  margin: 0;
  margin-bottom: 60px;
}


@media screen and (max-width:450px) {
  .copyright {
    display: none;
  }
  .title{
    display: none;
  }
  .containerFooter{
    justify-content: space-evenly;
    position: absolute;
    bottom: 0;
  }

  .containerCopy{
    display: none;
  }

  

  

}

