.searchs {
  width: 50%;
}

.search {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  top: 29px !important;
  width: 30vw;
}

.dropdownProdConteiner {
  display: flex;
  flex-direction: column;
  background-color: #eeeeee;
  z-index: 10;
  margin-right: 58px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-bottom: 10px;
}

.products {
  margin-top: 15px;
  font-size: 18px;
  width: 22vw;
  font-weight: 500;
}

.products:hover {
  background-color: #37373f;
  color: white;
}

.searchBar {
  border-top-left-radius: 10px;
  background-color: white;
  border: 1px solid white;
  color: black;
  padding: 7px;
  width: 22vw;
}

.searchButton {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid white;
  color: white;
  background-color: #91c612;
  padding: 7px;
  width: 3vw;
}
.searchButton:hover {
  cursor: pointer;
  color: #37373f;
  background-color: white;
}

.searchButton:active {
  cursor: pointer;
  color: white;
  background-color: #37373f;
}

.searchBar:focus {
  outline: none;
}

@media screen and (max-width:1400px) {

  
  .dropdownProdConteiner{
    margin-left: 17px;

  }


  .products {
    width: 25vw;
  }
  
  
  .searchBar {
    width: 25vw;
  }
}



@media screen and (max-width: 450px) {
  .searchButton {
    width: 33px;
  }
  .search {
    width: 250px;
    margin: 0%;
    display: flex;
    justify-content:center;
  }
  .searchBar {
    width: 170px;
  }
}


