.containerForm {
    background-color: #78788c;
    display: grid;
    grid-auto-columns: 1fr; 
    grid-template-columns: 0.3fr 1.7fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "SideBar productContainer"; 
    justify-items: center;
}

.productContainer {
    display: grid; 
    grid-template-columns: 1.5fr 1.5fr; 
    grid-template-rows: 1fr 0.8fr 0.8fr 0.8fr 0.8fr 1fr; 
    gap: 5px 0px; 
    grid-template-areas: 
        "titleForm titleForm"
        "name email"
        "address departament"
        "city cp"
        "country tel"
        "containerBtn containerBtn";
    grid-area: productContainer;
    width: 900px;
    height: 90%;
    background: #e6e6e6;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 20px 30px;
    max-width: calc(90vw - 40px);
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.titleForm {
    grid-area: titleForm;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    color: black;
    border-bottom: 3px solid #91C612 ;
}

.name { 
    grid-area: name; 
}

.email {
    grid-area: email;
}

.address {
    grid-area: address;
}

.departament {
    grid-area: departament;
}

.city {
    grid-area: city;
}

.cp {
    grid-area: cp;
}

.country {
    grid-area: country;
}

.tel {
    grid-area: tel;
}

.formInput {
  width: 100%;
  padding: 10px;
  padding-top: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s;
  border-bottom: 2px solid #bebed2;
  text-align: left;
}

.formInput:focus {
  border-bottom: 2px solid #91C612 ;
}

.lab::before {
    content: attr(type);
    display: block;
    margin: 10px 0 0;
    font-size: 14px;
    color: black;
}

.containerBtn {
    grid-area: containerBtn;
    display: flex; 
    justify-content:space-around;
    display:flow-root;
    text-align: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 5px;
}

.btn {
    float: center;
    padding-top: 10%; 
    padding: 15px 12px;
    margin: 8px 0 0;
    font-family: "Montserrat", sans-serif;
    border-radius: 7px;
    border: none;
    background: #91C612 ;
    color: rgb(255, 255, 255);
    font-weight: 550;
    cursor: pointer;
    transition: all 0.3s; 
}

.btn:hover {
  background: #a9e222 ;
  color: rgb(255, 255, 255);
}

.bton:active{
  background: #91C612 ;
}

.textError {
  color: red;
}
