.Success {
    margin: 0 0 4em 0;
    
}



.SuccessMap {
    margin: 10px 0 0 0;
}

@media screen and (max-width:450px) {
    .Success {
      width: 100%;
      height: 240px;
      display: flex;
      justify-content: center;
    }

    .SuccessMap{
      margin-top: 40px;
      margin-left: 75px;
      width: 75%;
      height: 60px;
      display: flex;
      justify-content: center;
    }

    .Title{
      font-size: small;
      margin-left: 70px;
    }
  
    
  
  }