.containerAll{
    width: 100%;
    height: 75vh;
    display: flex;
    background-color: rgb(250, 250, 250);
    padding-left: 375px;
}


.containerAdminSideBar{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productContainer{
    background-color: rgb(250, 250, 250);
    width: 80%;
    border-radius: 5px;
    height: 90%;
}

.infoConteiner{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
    margin-top: 20px;

}

.infoProduct{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 300px;
    height: 150px;
    border-radius: 5px;
    background-color: #fff;
    border: 2px solid black;
}

.info{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon{
    width: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.containerCheckv{
    border: 2px solid black;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #91C612;
}

.containerCheckv i {
    color: white;
}

.containerCheckx{
    border: 2px solid black;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
}
.containerCheckx i{
    color: #fff;
}

.containerCheckarrow{
    border: 2px solid black;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3483FA;
}

.containerCheckarrow i{
    color: #fff;
}

.containerNabvar{
    width: 100%;
    display: flex;
    justify-content: center;
}

.containerNabvar select:focus{
    outline: none;
}
.containerNabvar input:focus{
    outline: none;
}


.containerInfoTable{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.headerContainer{
    width: 100%;
    background-color: #78BEEC;
    margin-bottom: 20px;
    margin-top: 10px;
}

.ul{
    width: 99%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    font-size: 18px;
    font-weight: 500;
    color: #000000;
    background-color: rgb(209, 209, 209);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-top: 5px;
}


.containHeadr{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.containHeadr p {
    margin: 0;
}


.header{
    padding: 0;
}



.containerc{
    background-color: #c7c7c727;
    width: 99%;
    display: flex;
    justify-content: space-between;
}

.containCardInfo{
    width: 20%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-bottom: 1px solid rgb(58, 58, 58);

}

.containerActions{
    width: 20%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    border-bottom: 2px solid black;
}




.containerPaginate{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerButtonCreate{
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-end;
}

.containerIcon{
    margin-right: 100px;
    border: 2px solid #78BEEC;
    background-color: #78BEEC;
    border-radius: 2px;
    width: 60px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.containerIcon i {
    color: black;
    text-decoration: none;
}

.link{
    text-decoration: none;
}

.containerPaginate{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width:1400px) {

    
    .containerAll{
        height: auto;
        display: flex;
        justify-content: center;
        padding: 0;
        
    }

    .productContainer{
        width: 80%;
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .containerInfoTable{
        width: 100%;
        height: auto;
    }



   
  }