
.containerCardsComponent{
    width: 45vw;
    margin-top: 26px;

}

.containerCardProducts{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.pageNumbers {
    display: flex;
    list-style:none;
    margin-left: 80px;

}

.pageNumbers li{
    padding:10px;
    background-color: #EEEEEE;
    cursor: pointer;
    margin:6px;
    letter-spacing: 2.5px;
    border: none;
    border-radius: 7px;
    box-shadow: 0px 8px 15px rgba(14, 13, 13, 0.1);
    transition: all 0.3s ease 0s;
    
}

.pageNumbers li.active {
    background-color: #91C612;
    color: white;
}

.pageNumbers li:hover{
    background-color: #a9db35;
    color: white;
}
.pageNumbers li button {
    background-color: transparent;
    border: none;
    color: black;
    cursor: pointer;
}

.mapeoCards{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 20px
}


.divPaginado{
    display: flex;
    margin-left: 10%;
    align-items: center;
}