
.containerCardsComponent{
    width: 45vw;
    margin-top: 26px;

}

.containerCardProducts{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.pageNumbers {
    display: flex;
    list-style:none;
}

.pageNumbers li{
    padding:10px;
    border: 1px solid black;
    cursor: pointer;
    margin:6px;
   
}

.pageNumbers li.active {
    background-color: rgb(146, 144, 144);
}

.pageNumbers li button {
    background-color: transparent;
    border: none;
    color: black;
    cursor: pointer;
}

.pageNumbers li button:hover {
    background-color: rgb(146, 144, 144);
}