.containerForm {
  background-color:  #e7e7e7;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 3.65%; */
  height: 85vh;
}

.productContainer {
    
  height: auto;
  border-radius: 8px;
  
  /* margin-top: -100px; */
  margin-bottom: 5px;
  padding: 20px 30px;
  max-width: calc(90vw - 40px);
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  background-color: #ffffff;
  width: 900px;
  padding: 2%;
    
    
}

.titleForm {
  grid-area: titleForm;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  color: black;
  border-bottom: 3px solid #91C612 ;
}

.name { 
  background-color: transparent;
  width: 43%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name2 { 
  background-color: transparent;
  width: 43%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
}

.contenedor{
  display: flex;
  flex-wrap: wrap; 
  height: 350px;
  justify-content: space-evenly;
  align-content: space-between;
  
}

.formInput {
  width: 330px;
  padding: 10px;
  padding-top: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s;
  border: 2px solid #bebed2;
  border-radius: 7px;
  text-align: left; 
  
}

.formInput:focus {
  border-bottom: 2px solid #91C612 ;
}

.formInput:disabled {
  border: 2px dotted rgb(184, 184, 184);
  background-color: #eeeeee;
  color: gray;
}

.lab::before {
    content: attr(type);
    display: block;
    margin: 10px 0 0;
    font-size: 14px;
    color: black;
}

.containerBtn {
  padding: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  }

  .btn {
    width: 100px;
    float: center;
    padding-top: 10%; 
    padding: 15px 12px;
    margin: 8px 0 0;
    font-family: "Montserrat", sans-serif;
    border-radius: 7px;
    border: none;
    background: #91C612 ;
    color: rgb(255, 255, 255);
    font-weight: 550;
    cursor: pointer;
    transition: all 0.3s; 
}

.btnS {
    width: 100px;
    float: center;
    padding-top: 10%; 
    padding: 15px 12px;
    margin: 8px 0 0;
    font-family: "Montserrat", sans-serif;
    border-radius: 7px;
    border: none;
    background: #c61212 ;
    color: rgb(255, 255, 255);
    font-weight: 550;
    cursor: pointer;
    transition: all 0.3s; 
}
.btnS:hover {
    background: #e22222 ;
    color: rgb(255, 255, 255);
  }

.btn:hover {
  background: #a9e222 ;
  color: rgb(255, 255, 255);
}

.btn:active{
  background: #91C612 ;
}

.btn:disabled{
    background: gray ;
    cursor: default;
  }

.textError {
  color: red;
}


@media screen and (max-width:1400px) and (min-width:500px) {

  .containerForm{
    height: auto;
    padding-top: 25px;
    padding-bottom: 25px;
  }

}

@media screen and (max-width:450px) {


  .containerForm{
  height: 100%;
  background-color: white;
}
.contenedor{
  height: 700px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  
  align-items: center;
  margin-left: 150px;
}
  .productContainer{

    padding: 0%;

  }

  .formInput{
    width: 250px;
  }

  

 /* .containerBtn{
    margin-left: 30px;
    width: 150px;
    display: flex;
  justify-content: space-between;
  }*/
.containerBtn{
  display: flex;
  
  margin-left: 60px;
}
  /*.btn{
    width: auto;
    height: 40px;
    margin-right: 8px;
    float: center;
  }

  .btnS{
    height: 40px;
    margin-right: 8px;

  }*/
.btn{
  margin-left: 10px;
}

.btnS{
  width: 100px;
  
}
  .titleForm{
  margin-left: 35px;
}
.lab2{
  margin-left: -17px;
}
.lab3{
  margin-left: -17px;
}

}
