.productCont {
    /* display: flex;
    flex-direction: column;
    width: 350px;
    
    margin-top: 50px; */
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 7px;
    background-color: white;
    margin-top: -10%;
    transition: 0.5s;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.637);
    border: 1px solid rgb(231, 231, 231);
    margin-left: 220px;
    font-size: 22px;
}

.containerTitle{
    padding: 10px;
}

.containerPandO {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 25px;
}

.ckeckbox {
    display: flex;
    flex-direction: column;
width: 25%;
height: 60vh;
margin-top:6px;
background-color: rgb(247, 247, 247);

}

.estadoAct{
    font-size: 26px;
    padding-bottom: 15px;
    padding-top: 25px;
    text-align: start;
    padding-left: 25px;
}
.greymatter{
    padding: 10px;
    text-align: start;
    font-size: 18px;
    padding-left: 25px;
    color: #797979;
}
.text {
    padding: 10px;
    text-align: start;
    font-size: 18px;
    padding-left: 25px;
}

/* .textAcirculo{
    display: flex;
} */

.text-error {
    color: red;
}

.hR{
    width: 71%;
    margin-left: 25px;
}

.circulo{
    display: flex;
    justify-content: end;
    margin-top: -30px;
    margin-right: 30%;
}

.season {
    width: 1.8em;
    height: 1.8em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    


}



.season:checked {
    background-color: #b7e943;
}
.season {
    border-radius: 50%;
    background-color: #dbdbdb;
    
    border: none;
    padding: 7px;
}

.season:hover {
    opacity: 0.7;
    transition: 0.3s ease;
}

.buttonCont{
    padding-top: 25px;
    text-align: start;
    padding-left: 25px;

}

.loginButton {
    border-radius: 3px;
    background-color: #b7e943;
    color: #ffffff;
    border: none;
    padding: 15px;
    font-size: 22px;
}

.loginButton:hover {
    opacity: 0.7;
    transition: 0.3s ease;
}

@media screen and (max-width:1400px) {

    .containerAll1{
        width: 100%;
        height: auto;
    }
    .containerAll{
        height: auto;
        
    }

    .containerPandO{
        height: auto;
    }

    .ckeckbox{
        height: auto;
        padding-bottom: 25px;
    }

  }