/* .containerCart{
    width: 1300px;
    height: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
} */


.containerCard{
    border: 2px solid rgba(255, 255, 255, 0);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.637);
    border-radius: 10px;
    width: 625px;
    height: 175px;
    display: flex;
    background-color: white;
}

.containerImg{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.SupportContainerImg{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@supports(object-fit: cover){
    .SupportContainerImg img{
        width: 80%;
      height: 100%;
      object-fit: contain;
      object-position: center center;
    }
}

/* .img{
    width: 100%;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
} */

.containerInfo{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containerName{
    height: 40%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}

.nameProduct{
    margin-top: 30px;
}

.containerButtons{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.containerPriceCart{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.price{
    font-size: 19px;
    color: #2f6f7e;
    margin-bottom: 30px;
    font-weight: bold;
}

.quantity{
    font-size: large;
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


