.fa-circle-plus{
    font-size: 28px;
    color: #3483FA;
}

.fa-circle-plus:hover{
    color: #5497fc;
    
}
.fa-circle-plus:active{
    color: #154fa7;
    
}

.fa-trash{
    font-size: 25px;
    color: red;
}
.fa-trash:hover{
    
    color: rgb(255, 58, 58);
}
.fa-trash:active{
    
    color: rgb(170, 14, 14);
}

.fa-circle-minus{
    font-size: 28px;
    color: #91C612;
}
.fa-circle-minus:hover{
    color: #abe02f;
    
}
.fa-circle-minus:active{
    color: #74a00d;
    
}

i:hover{
    
    cursor: pointer;
}

@media screen and (max-width:450px) {
    .fa-circle-plus {
        font-size: 20px;
        
    }
    .fa-trash{
        font-size: 20px;
        
    }
    .fa-circle-minus{
        font-size: 20px;
        
    }
}