.containerForm {
    background-color:  #e7e7e7;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 3.65%; */
    height: 85vh;
}

.productContainer {
    
    height: auto;
    border-radius: 8px;
    
    /* margin-top: -100px; */
    margin-bottom: 5px;
    padding: 20px 30px;
    max-width: calc(90vw - 40px);
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    background-color: #ffffff;
    width: 900px;
    padding: 2%;
    
    
}

.titleForm {
    grid-area: titleForm;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    color: black;
    border-bottom: 3px solid #91C612 ;
}

.name { 
    background-color: transparent;
    width: 43%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor{
  display: flex;
  flex-wrap: wrap; 
  height: 350px;
  justify-content: space-evenly;
  align-content: space-between;
}

.formInput {
  width: 330px;
  padding: 10px;
  padding-top: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s;
  border: 2px solid #bebed2;
  border-radius: 7px;
  text-align: left; 
  
}

.formInput:focus {
  border: 2px solid #91C612 ;
}

.formInput:disabled{
  border: 2px dotted rgb(184, 184, 184);
  background-color: rgb(224, 224, 224);
  color: gray;
}

.lab::before {
    content: attr(type);
    display: block;
    margin: 10px 0 0;
    font-size: 14px;
    color: black;
}

.containerBtn {
  padding: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  }

  .btn {
    width: 100px;
    float: center;
    padding-top: 10%; 
    padding: 15px 12px;
    margin: 8px 0 0;
    font-family: "Montserrat", sans-serif;
    border-radius: 7px;
    border: none;
    background: #91C612 ;
    color: rgb(255, 255, 255);
    font-weight: 550;
    cursor: pointer;
    transition: all 0.3s; 
}

.btnS {
    width: 100px;
    float: center;
    padding-top: 10%; 
    padding: 15px 12px;
    margin: 8px 0 0;
    font-family: "Montserrat", sans-serif;
    border-radius: 7px;
    border: none;
    background: #c61212 ;
    color: rgb(255, 255, 255);
    font-weight: 550;
    cursor: pointer;
    transition: all 0.3s; 
}
.btnS:hover {
    background: #e22222 ;
    color: rgb(255, 255, 255);
  }

.btn:hover {
  background: #a9e222 ;
  color: rgb(255, 255, 255);
}

.btn:active{
  background: #91C612 ;
}

.btn:disabled{
    background: gray ;
    cursor: default;
  }

.textError {
  color: red;
}
@media screen and (max-width:1400px) {
  
  .containerForm{
    height: auto;
    padding-top: 25px;
    padding-bottom: 25px;

  }


}


@media screen and (max-width: 450px){
 
  .contenedor{
    height: 580px;
    width: 270px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
  }
  .productContainer{
    height: 750px;
    width:270px;
    display: flex;
    
    flex-wrap: wrap;
    
  }
.formInput{
  width: 200px;
}

.lab::before {
  content: attr(type);
  display: flex;
  margin: 0;
  font-size: 14px;
  color: black;
}

.name { 
  background-color: transparent;
  width: 70%; 
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleForm{
  font-size: 20px;
}

.containerBtn{
 margin: 0px;
 margin-left: 10px;
}
.btn{
 width: 90px;
 margin-left: 10px;
}

.btnS{
  margin-right: 10px;
width: 90px;
}

.containerForm{
  width: 300px;
  margin-top: 10px;
  margin-left: 70px;
  background-color: white;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.textError{
  display: none;
  position: absolute;
  left:0;
  font-size: 15px;
  margin-left: 160px;
}
  }

