.contAccesorios {
  background-color: #2d2d33;
}

.containerAcc {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0);
}

.rowAcc {
  display: flex;
  margin-left: 30px;
  margin-right: 25px;
}

.titleAcce {
  display: flex;
  justify-content: center;
  margin-top: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 40px;
}
.titleAcce h2 {
  color: white;
}
.spanTitleAcc {
  color: #91C612;
  font-weight: bold;
}
.spanTitleAcc:hover {
  filter: brightness(1.2);
}
.card {
  border-radius: 7px !important;
  border-color: #e1e7ec;
  width: 600px;
}

.mb-30 {
  margin-bottom: 30px !important;
  margin-top: 30px !important;
}

.card-img-tiles {
  display: block;
  border-bottom: 1px solid #e1e7ec;
}

a {
  color: black;
  text-decoration: none !important;
}

.card-img-tiles > .inner {
  display: table;
  width: 100%;
}

.card-img-tiles .main-img,
.card-img-tiles .thumblist {
  display: table-cell;
  width: 65%;
  padding: 15px;
  vertical-align: middle;
}

.card-img-tiles .main-img > img:last-child,
.card-img-tiles .thumblist > img:last-child {
  margin-bottom: 0;
}

.card-img-tiles .main-img > img,
.card-img-tiles .thumblist > img {
  display: block;
  width: 100%;
  margin-bottom: 6px;
}
.thumblist {
  width: 35%;
  border-left: 1px solid #e1e7ec !important;
  display: table-cell;
  width: 65%;
  padding: 15px;
  vertical-align: middle;
}

.card-img-tiles .thumblist > img {
  display: block;
  width: 100%;
  margin-bottom: 6px;
}
.btn-group-sm > .btn,
.btn-sm {
  padding: 0.45rem 0.5rem !important;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.main-img img {
  height: 25vh;
}

.thumblist img {
  height: 12vh;
}

.contAcc2 {
  display: flex;
  justify-content: space-around;
}

.main-img img:hover {
  filter: brightness(1.2);
}

.thumblist img:hover {
  filter: brightness(1.2);
}

@media screen and (max-width:1400px) {
  
  .contAccesorios{
    display: none;
  }
}
