

.menus {
  width: 100%;
  height: 150px;
}
.container {
  background-color: #37373f;
  width: 100%;
  height: 65%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.a {
  height: 60%;
}

.cart {
  background-color: transparent;
  color: white;
  border: none;
}

.cart:hover {
  cursor: pointer;
  transition: 0.3s ease;
  color: #91c612;
}

.buttons {
  height: 50px;
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.divs {
  width: 30%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagen{
  margin-top: 2px;
  width: 170px;
  height: 100px;


}

.imagenLogo{
  margin-top: 2px;
  width: 170px;
  height: 100px;

}

.imagen img:hover {
  filter: brightness(1.5);
}

.profile {
  background-color: transparent;
  color: white;
  border: none;
}

.profile:hover {
  cursor: pointer;
  transition: 0.3s ease;
  color: #91c612;
}

.email {
  display: none;
}

.containerHeart{
  color: red;
  font-size: 18px;
}

.containerHeart:hover{
  cursor: pointer;
  color: #ff1d1d;;
}

@media screen and (max-width:450px) {
  .spanText{
    display: none;
  }
  .imagenLogo{
    display: none;
  }
  .imagen{
    width: 48px;
    height: 52px;
    background-image: url(../../imagenes/iconoPR.jpeg);
    /* margin-left: -140px; */
    
    /* background-repeat: no-repeat; */
  }

  .divs{
    /* margin: 0%; */
   /*  margin-left: -170px; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 130px;
    height: 30px;
  }

  .container{
    display: flex;
    justify-content: space-evenly;

  }

  .logout{
    display: none;
  }
  .cart{
    display: none;
  }

  .login{
    right: 0;
    position: absolute;
    margin-right: 30px;
  }
}